// TO DO: Update font
.Contact {
    padding-top: 125px;
    text-align: center;
    background-color: $textColor;
}

.contact-form {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    font-family: $fourthFont;
}

.contact-form-header {
    color: $backgroundColor;
    letter-spacing: 2px;
}

.form-control {
    margin: 10px 0px;
}

.submit-button {
    background-color: $backgroundColor;
    color: $textColor;
    margin: 0px;
    border-radius: 5px;
    padding: 4px 15px;
}

.submit-button:hover {
    background-color: $accentColor;
    box-shadow: 2px 2px 2px $backgroundColor;
}

.email {
    color: $backgroundColor;
}