.Contact {
    margin-top: 125px;
    text-align: center;
}

.contact-form {
    margin: auto;
    width: 50%;
    padding-top: 10px;
}

.form-control {
    margin: 10px 0px;
}

.submit-button {
    margin: 0px;
    border-radius: 5px;
}