.Highlights-Page {
  padding-top: 150px;
  background-color: $textColor;
}

.gallery-container {
  margin: 0px 125px;
  padding-bottom: 50px;
}

.highlight-videos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  width: 75%;
  padding-bottom: 50px;
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin: 10px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
