.navbar-container {
    display: grid;
    justify-content: center;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
        "header . navbar navbar";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    width: 100%;
    color: $backgroundColor;
  }
  
  .navbar {
      grid-area: navbar;
      justify-self: end;
      align-self: flex-start;
      margin-top: 10px;
  }
  
  .brand-container {
      grid-area: header;
      margin: 10px 25px;
  }
  
  .brand {
      font-size: 50px;
      color: $backgroundColor;
      font-weight: bold;
      margin: 0;
  }

  .city {
      padding-left: 15px;
  }
  
  .navbar-item {
      margin: 0px 25px;
      font-size: 16px;
      color: $backgroundColor;
  }
// .navbar-container {
//     display: grid;
//   justify-content: center;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-template-rows: auto;
//     grid-template-areas: 
//       "header . navbar navbar";
//       position: relative;
// }

// .navbar {
//     grid-area: navbar;
//     justify-self: end;
//     align-self: flex-start;
// }

// .brand-container {
//     grid-area: header;
//     margin: 10px 25px;
// }

// .brand {
//     font-size: 42px;
// }

// .navbar-item {
//     margin: 0px 25px;
//     font-size: 20px;
// }