.roster-header {
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 5px;
    padding-top: 75px;
    padding-bottom: 20px;
    border-bottom: 1px solid $accentColor;
    width: 75%;
}

.rosters-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.year {
    font-size: 28px;
    letter-spacing: 15px;
    font-family: $thirdFont;
}

.roster {
    padding: 25px 75px;
}

.roster li {
    list-style: none;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 25px;
    font-weight: lighter;
}