.schedule-section {
  padding-top: 100px;
  margin: auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.schedule-header {
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 0.25px solid rgba(175, 236, 71, 0.5);
  font-size: 42px;
  letter-spacing: 4px;
  width: 50%;
}

.schedule-body {
  margin-top: 25px;
  font-size: 24px;
  font-weight: lighter;
}

#schedule-image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
