@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import './components/';


body {
  background-color: $backgroundColor;
  text-transform: uppercase;
  font-family: $primaryFont;
}

.Home {
  background-size: cover;
  background-position: center;
  background-repeat: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.Section, .page {
  background-size: cover;
  background-position: center;
  background-repeat: none;
  position: relative;
  height: 100vh;
  width: 100vw;;
}

.divider {
  content: '';
  display: block;
  height: 10px;
  background-color: #222;
}